[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "~=2.0.1"
gunicorn = "~=20.1.0"
numpy = "~=1.19.5"
pandas = "~=1.1.5"
pydrive2 = "~=1.10.0"
pymysql = "~=1.0.2"
scikit-learn = "~=0.24.2"
scipy = "~=1.5.4"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"

[scripts]
api = "flask run --host=0.0.0.0"
code_check = "pycodestyle ."
code_format = "autopep8 --in-place --recursive ."
generate_model = "python batch.py"
