name: Build

on: [push]

jobs:
  code_check_for_api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        id: setup-python-api
        with:
          python-version: 3.12
          cache: pipenv
          cache-dependency-path: |
            api/Pipfile.lock

      - name: Setup pipenv
        run: pip install pipenv

      - name: Install dependencies
        if: steps.setup-python-api.outputs.cache-hit != 'true'
        run: pipenv install -d

      - name: Execute code check
        run: pipenv run code_check

  code_check_for_generate_model:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: generate_model
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        id: setup-python-generate-model
        with:
          python-version: 3.12
          cache: pipenv
          cache-dependency-path: |
            generate_model/Pipfile.lock

      - name: Setup pipenv
        run: pip install pipenv

      - name: Install dependencies
        if: steps.setup-python-generate-model.outputs.cache-hit != 'true'
        run: pipenv install -d

      - name: Execute code check
        run: pipenv run code_check
